# Kickstart file for Puppet on CentOS 4/RedHat ES-4
# Tested on ES-4 U8 / CentOS 4.8
# May work on older enterprise 4 systems.
#
# May 5, 2012
# Adam Reid

install
cdrom
lang en_US.UTF-8
langsupport --default=en_US.UTF-8 en_US.UTF-8
keyboard us
xconfig --card "VESA driver (generic)" --videoram 12288 --hsync 31.5-37.9 --vsync 50-70 --resolution 800x600 --depth 16
network --device eth0 --bootproto dhcp
# Password = password
rootpw --iscrypted $1$7nqqHQSF$/32jwOnJCOiDivVV7o0iw/
firewall --disabled
selinux --disabled
authconfig --enableshadow --passalgo=md5
timezone --utc America/New_York
bootloader --location=mbr
# The following is the partition information you requested
# Note that any partitions you deleted are not expressed
# here so unless you clear all partitions first, this is
# not guaranteed to work
clearpart --linux --drives=sda
part /boot --fstype ext3 --size=100 --ondisk=sda
part pv.2 --size=0 --grow --ondisk=sda
volgroup VolGroup00 --pesize=32768 pv.2
logvol swap --fstype swap --name=LogVol01 --vgname=VolGroup00 --size=512 --grow --maxsize=1024
logvol / --fstype ext3 --name=LogVol00 --vgname=VolGroup00 --size=1024 --grow

%packages
lvm2
kernel
e2fsprogs
grub

# required to build ruby
# should be kept for gems that build native extensions.
automake
gcc
cpp
glibc-devel
glibc-headers
glibc-kernheaders
glibc
glibc-common
libgcc

# required to build ruby bindings, can be removed after
zlib-devel
openssl-devel
readline-devel

%post --log=/root/ks-post.log
# Change to a vt to see progress
chvt 3

# redirect output to ks-post.log including stdout and stderr
(
	# Keep it clean
	mkdir /tmp/ruby
	cd /tmp/ruby

	# autoconf 2.60 is required to build ruby
	wget http://ftp.gnu.org/gnu/autoconf/autoconf-2.60.tar.gz
	tar -xzf autoconf-2.60.tar.gz
	cd autoconf-2.60
	./configure --prefix=/usr && make && make install
	cd /tmp/ruby

	# build ruby-1.8.7-p358
	wget http://ftp.ruby-lang.org/pub/ruby/1.8/ruby-1.8.7-p358.tar.bz2
	tar -xjf ruby-1.8.7-p358.tar.bz2
	cd ruby-1.8.7-p358
	autoconf
	./configure --prefix=/usr && make && make install
	cd /tmp/ruby

	# install ruby-gems 1.8.10
	wget http://production.cf.rubygems.org/rubygems/rubygems-1.8.10.tgz
	tar -xzf rubygems-1.8.10.tgz
	cd rubygems-1.8.10
	/usr/bin/ruby setup.rb


	# clean up
	cd /
	rm -rf /tmp/ruby

	# install puppet
	gem install puppet
) 2>&1 | tee > /root/ks-post.log

# switch back to gui
chvt 7
